name: macOS
on:
  push:
    branches:
    - "main"
    - "core-9-0-branch"
    tags:
    - "core-**"
permissions:
  contents: read
env:
  ERROR_ON_FAILURES: 1
jobs:
  framework:
    runs-on: macos-26
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Fetch Tcl
        run: |
          curl -L -O https://core.tcl-lang.org/tcl/tarball/main/tcl.tar.gz
          tar xfz tcl.tar.gz
      - name: Prepare checked out repositories
        run: |
          touch tk/generic/tkStubInit.c
          mkdir build
          echo "BUILD_DIR=`cd build && pwd`" >> $GITHUB_ENV
          echo "DESTDIR=`cd build && pwd`" >> $GITHUB_ENV
        working-directory: .
      - name: Build Tcl
        run: |
          make -C macosx
        working-directory: tcl
      - name: Build Tk
        run: |
          make -C macosx || {
            echo "::error::Failure during Build"
            exit 1
          }
        working-directory: tk
      - name: Run Tests
        run: |
          make -C macosx TK_NO_STDERR=1 test | tee out.txt
          nmatches=$( grep -c "Failed	0" out.txt )
          if [ $nmatches -lt 4 ]
          then
            echo "::error::Failure during Test"
            exit 1
          fi
        working-directory: tk
        timeout-minutes: 30

